body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    background-color: #ecf2f6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #2200ff;
    margin-bottom: 30px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #6baefa;
    color: white;
    font-weight: bold;
}

td {
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}

table td.valor, table th.valor {
    width: 100px;
    text-align: center;
    font-weight: bold;
}

.em-falta {
    background-color: #f8d7da;
    color: #cb0f22;
}

a {
    text-decoration: none;
}

.btn-editar, .btn-excluir {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1rem;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.btn-editar {
    background-color: #0d83c7;
    color: white;
}

.btn-editar:hover {
    background-color: #00659f;
}

.btn-excluir {
    background-color: #f8693e;
    color: white;
}

.btn-excluir:hover {
    background-color: #e64a19;
}

.adicionar-produto {
    background-color: #0d83c7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
}

.adicionar-produto:hover {
    background-color: #00659f;
    transition: background-color 0.3s ease;
}

.voltar {
    background-color: #f8693e; 
    color: white;              
    padding: 10px 20px;      
    border: none;            
    border-radius: 5px;    
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.voltar:hover {
    background-color: #e64a19;
    transition: background-color 0.3s ease; 
}


@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 8px;
    }

    .btn-editar, .btn-excluir, .voltar {
        font-size: 1rem;
        padding: 10px;
    }
}

.flash-message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.flash-message.danger {
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
}

.flash-message.success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}

.flash-message.info {
    background-color: #cff4fc;
    color: #055160;
    border: 1px solid #b6effb;
}
