* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.form-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #2200ff;
}

label {
    font-size: 18px;
    color: #1d1b1b;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #0d83c7;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #00659f;
}


select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
    appearance: none;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: #00659f;
    background-color: #fff;
}

option {
    font-size: 16px;
    padding: 8px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
