<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_base.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('ver_estoque') }}">Estoque</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo específico da página será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Controle de Estoque. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
