<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_produto.css') }}">
</head>
<body>

    <div class="container">
        <h2>Cadastrar Produto</h2>
        
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            <li class="flash-message {{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <form action="{{ url_for('cadastrar_produto') }}" method="post">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" required><br>

            <label for="valor">Valor:</label>
            <input type="number" name="valor" step="0.01" required><br>

            <label for="quantidade">Quantidade:</label>
            <input type="number" name="quantidade" required><br>

            <label for="quantidade_minima">Quantidade Mínima:</label>
            <input type="number" name="quantidade_minima" required><br>

            <label for="descricao">Descrição:</label>
            <textarea name="descricao"></textarea><br>

            <input type="submit" value="Cadastrar Produto">

            <a href="{{ url_for('home') }}" class="btn-voltar">Voltar</a>
        </form>
    </div>
</body>
</html>