<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_edt_produto.css') }}">
</head>
<body>
    <div class="container">
        <h2>Editar Produto</h2>

        <form action="{{ url_for('editar_produto', id=produto.id) }}" method="post">
            <label for="nomeForm">Nome:</label>
            <input type="text" name="nomeForm" id="nomeForm" value="{{ produto.nome }}"required><br>

            <label for="descricaoForm">Descrição:</label>
            <textarea name="descricaoForm" id="descricaoForm" required>{{ produto.descricao }}</textarea><br>

            <label for="valorForm">Valor:</label>
            <input type="number" step="0.01" name="valorForm" id="valorForm" value="{{ produto.valor }}" required><br>

            <label for="quantidadeForm">Quantidade:</label>
            <input type="number" name="quantidadeForm" id="quantidadeForm" value="{{ produto.quantidade }}" required><br>

            <label for="quantidademinimaForm">Quantidade Mínima:</label>
            <input type="number" name="quantidademinimaForm" id="quantidademinimaForm" value="{{ produto.quantidade_minima }}" required><br>

            <input type="submit" value="Atualizar Produto">
        </form>
    </div>
</body>
</html>
