<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - Controle de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
</head>

{% extends "base.html" %}

{% block content %}
    <div class="home-container">
        <h1> CONTROLE DE ESTOQUE </h1>
        <h2>Bem-vindo, {{ current_user.nome }}</h2>
        <div class="button-container">
            {% if is_admin %}
                <a href="{{ url_for('cadastro.cadastrar_usuario') }}" class="btn">Cadastrar Usuário</a>
                <a href="{{ url_for('cadastrar_produto') }}" class="btn">Cadastrar Produto</a>
                <a href="{{ url_for('ver_estoque') }}" class="btn">Ver Estoque</a>
                <a href="{{ url_for('produtos_baixo_estoque') }}" class="btn">Produtos Baixo Estoque</a>
            {% else %}
                <a href="{{ url_for('ver_estoque') }}" class="btn">Ver Estoque</a>
            {% endif %}
        </div>

        <div class="logout-container">
            <a href="{{ url_for('logout') }}" class="btn-logout">Logout</a>
        </div>
    </div>
{% endblock %}
