<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/style_login.css">
</head>
<body>
    <div class="form-container">
        <h2>Login</h2>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form action="" method="post">
            <label for="nomeForm">Nome:</label>
            <input type="text" name="nomeForm" id="nomeForm" placeholder="Digite seu nome"><br>
            <label for="senhaForm">Senha:</label>
            <input type="password" name="senhaForm" id="senhaForm" placeholder="Digite sua senha"><br>

            <label for="perfil">Perfil:</label>
            <select name="perfil" required>
                <option value="Administrador">Administrador</option>
                <option value="Comum">Comum</option>
            </select><br>
            
            <input type="submit" value="Entrar">  
        </form>
    </div>
</body>
</html>