<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_estoque.css') }}">
</head>
<body>
    <div class="container">
        <h2>Estoque de Produtos</h2>

        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            <li class="flash-message {{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th class="valor">Valor</th>
                    <th>Quantidade</th>
                    <th>Quantidade Mínima</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr {% if produto.quantidade <= produto.quantidade_minima %} class="em-falta" {% endif %}>
                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td class="valor">R$ {{ "{:.2f}".format(produto.valor) }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.quantidade_minima }}</td>
                    <td>
                        {% if is_admin %}
                            <div class="acoes">
                                <div class="grupo1">
                                <a href="{{ url_for('editar_produto', id=produto.id) }}" class="btn-editar">Editar</a>
                                <a href="{{ url_for('excluir_produto', id=produto.id) }}" class="btn-excluir" onclick="return confirm('Tem certeza que deseja excluir este produto?')">Excluir</a>
                            </div>
                            <div class="grupo2">
                                <form action="{{ url_for('movimentar_estoque', tipo='entrada', produto_id=produto.id) }}" method="POST" class="form-inline">
                                    <input type="number" name="quantidade" required class="form-control" placeholder="Entrada">
                                    <button type="submit" class="btn btn-success">Entrada</button>
                                </form>
                                <form action="{{ url_for('movimentar_estoque', tipo='saida', produto_id=produto.id) }}" method="POST" class="form-inline">
                                    <input type="number" name="quantidade" required class="form-control" placeholder="Saída">
                                    <button type="submit" class="btn btn-danger">Saída</button>
                                </form>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('cadastrar_produto') }}">
            <button class="adicionar-produto">Adicionar Produto</button>
        </a>

        <a href="{{ url_for('home') }}">
            <button class="voltar">Voltar</button>
        </a>
    </div>
</body>
</html>